#head1{    
 
border-radius: 100px;
display:flex;
justify-content: space-between;
 background-color: black;
color: blueviolet;
margin:inherit;
}



 .lol{





display: flex;
justify-content:space-evenly;







}




.hii{

color: aquamarine;


}